<!-- Config file for the game -->

<config>
  <app>
    <framerate value="60"/>
    <title>GameJam 1</title>
    <organization>SuperTeam</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="860" height="568" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <scene>
    <camera_speed value="200"/>
  </scene>

  <player>
    <spritesheet path="Spritesheets/player_sheet.png"/>
    <sprite x="0" y="0" w="95" h="160"/>
    <position x="100" y="315"/>
    <jump force="3840"/>
  </player>

</config>